.drop-file-section {
  border: 3px dashed var(--color-foco-ejecucion);
  border-radius: var(--borde-radio);
  padding: calc(var(--espaciado-base) * 4);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
  background-color: var(--color-fondo-principal);
}

.drop-file-section:hover {
  background-color: rgba(var(--color-foco-ejecucion-rgb), 0.1);
  border-color: var(--color-accion);
}

.drop-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-foco-ejecucion);
  margin-bottom: var(--espaciado-base);
}

.drop-subtext {
  font-size: 0.9rem;
  color: var(--color-datos-base);
}

.hidden-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
