#App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-fondo-principal);
}

#initial_menu {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--espaciado-base);
  max-width: 1200px;
}

@media (max-width: 1200px) {
  #initial_menu {
    grid-template-columns: 1fr;
  }
}
